.ant-row,
.ant-col-20,
.ant-col-4 {
  margin-bottom: 10px !important;
}
.ant-slider {
  border-top: 4px solid #eee !important;
  border-bottom: 4px solid #eee !important;
}
.ant-tabs-nav-container {
  font-size: 18px !important;
}
.jumbotron p {
  font-size: 15px !important;
}
.navbar-default .navbar-nav > li > a {
  font-size: 20px !important;
}
.img-style {
  width: 576px;
  height: 481px;
}
