.jumbotron {
    //padding-top: 20%;
    padding-bottom: 20%;
    background-color: #F8F8F8;
    border-color: #e7e7e7;
    border-style: solid;
    border-width: 1px;
}

/*
* {
 font-family: 'EB Garamond', sans-serif;
}
*/

* {
 /* https://youtu.be/5toB3nDOFdM */
 font-family: 'Helvetica', sans-serif;
}

.nav-bar {
    margin-top: 10px
}



