<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= 'WebBase' %></title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />
    <!-- <link href="//fonts.googleapis.com/css?family=EB Garamond&subset=latin" rel="stylesheet" type="text/css">-->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="root" id="root"></div>
  </body>
</html>
