.unseen {
    background-color: #eeeeee;
    border: 1px solid #5d5a5a;
    margin: 3px;
    padding: 4px;
    border-radius: 2px;
}

.seen {
    border: 1px solid #5d5a5a;
    margin: 3px;
    padding: 4px;
    border-radius: 2px;
}

.anchor {
    touch-action: manipulation;
    cursor: pointer;
}
