.profile-img {
    margin-left: 4px;
    margin-top: -10px;
}

.badge-notify{
    background:red !important;
    position:relative !important;
    top: -15px !important;
    left: -25px !important;
}

.bell {
    position: relative;
    height: 1px;
    left: 8px;
}
